{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}
{% block body %}
<center>

  <div style="width:500px; border: 1px solid #ccc; padding: 40px;">
    <h4 style="font-family:bold;">Sign Up to See your photos</h4>
    <form method="POST">
      {{ form|crispy}}
      {% csrf_token %}

      <button type="button" style="width:100%" class="btn btn-primary">Sign Up</button>

    </form>

  </div>

  <div style="width:500px;border:20px #ccc;padding: 20px;">
    <p style="font-family:bold; font-size: 20px">Have a account? <a href="#">Log In</a></p>

  </div>
</center>


{% endblock %}